* {
    box-sizing: border-box; 
}

body{
  margin: 0;
  font-family: Verdana, sans-serif;
  background-image: linear-gradient(to bottom, #5a63aa, #7bceea);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container{
  width: 90vw;
  height: 90vh;
  background-image: linear-gradient(to top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 1));
  max-width: 800px;
  min-width: 400px;
  padding: 2em;
  margin-top: 1em;
  border-radius: 10px;
  overflow-y: scroll;
}

#container::-webkit-scrollbar{
  background-color: rgba(175, 250, 190, .7);
  width: 15px;
  border-radius: 15px;
}

#container::-webkit-scrollbar-thumb{
  background-color: #522370;
  border-radius: 10px;
  width: 1px;
}

#toggleContainer{
  font-weight: bold;
  font-size: 1.5rem;
}

#noteContainer{
  background-color: #272c54;
  border-radius: 10px;
  color: white;
  padding: 1.5em;
}
#newNoteInput, .titleSpan, .detailsSpan details{
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.detailsSpan details{
  border-top: 1px solid #5a63aa;
}
.inputControls{
  border: none;
}

#newNoteInput > .whiteinput{
  background-color: white;
}

.titleSpan > .whiteinput > input{
  background-color: transparent;
}

.whiteinput > input {
  font-size: 1.25em;
}

.whiteinput{
  display: flex;
  flex-direction: column;
  padding: 10px 7px;
}

#addButton {
    padding: 1em 0;
    font-weight: bold;
    font-size: 1em;
    background-color: rgb(175, 250, 190);
    border: none;
    color: #602e7f;
}

#addButton:hover{
  background-color: #fafcff;
}

#noteList{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}

.newLabel{
  padding-top: .5em;
  font-size: .8em;
  font-weight: bold;
  color: #5a63aa;
}

.errorMessage{
  margin: .3em 0;
  visibility: hidden;
}

.deleteNote {
    font-size: 1em;
    border: none;
    background-color: transparent;
}

.deleteNote:hover{
  background-color: rgb(31 65 111 / 20%);
  color: white;
}

.newNote{
  background-color: #8ab4c9;
  border-radius: 10px;
}

.editLabel.detailScript, .noteInfo{
  text-align: right;
  font-size: .8em;
  color: #343f8d;
}

.noteDetails.inputControls{
  background-color: transparent;
}

.title{
  display: flex;
  justify-content: space-between;
}